header{
       background-color: #FFFFFF;
       text-align: center;
}
.titulo{
    color: #21b321;
    font-size: 30px;
    font-family: Comic Sans MS;
}
.titulo2{
    color: #21b321;
    font-size: 25px;
    font-family: Comic Sans MS;
}
